@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-japan{
    background-image: url('./images/japan-view.jpg');
    background-size: cover; /* Memastikan gambar menutupi seluruh layar */
    background-position: center; /* Memposisikan gambar di tengah */
    background-attachment: fixed; /* Membuat gambar tetap di tempat ketika scroll */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
    min-height: 100vh;
}